# compiled binary add-ons
build/Release

# .npm
.npm

# dependency directories
node_modules


# git shit
.idea/

# configs
/json

# images
*.png
*.jpg
*.gif

# image configs
*.txt 